# CSCI 5015 Assignment - 4

## Written by Mizanur Rahman

In [2]:
import pandas as pd

In [4]:
df_all= pd.read_csv("C:/Users/mrahman1s/Documents/CSCI5015/Week 8/FARS/FARS/nst-est2017-alldata.csv")
table={}
for i in range(len(df_all['STATE'])):
    if df_all['STATE'][i]>=1 and df_all['STATE'][i]<=56:
        table[int(df_all['STATE'][i])]=df_all['NAME'][i]
table

{1: 'Alabama',
 2: 'Alaska',
 4: 'Arizona',
 5: 'Arkansas',
 6: 'California',
 8: 'Colorado',
 9: 'Connecticut',
 10: 'Delaware',
 11: 'District of Columbia',
 12: 'Florida',
 13: 'Georgia',
 15: 'Hawaii',
 16: 'Idaho',
 17: 'Illinois',
 18: 'Indiana',
 19: 'Iowa',
 20: 'Kansas',
 21: 'Kentucky',
 22: 'Louisiana',
 23: 'Maine',
 24: 'Maryland',
 25: 'Massachusetts',
 26: 'Michigan',
 27: 'Minnesota',
 28: 'Mississippi',
 29: 'Missouri',
 30: 'Montana',
 31: 'Nebraska',
 32: 'Nevada',
 33: 'New Hampshire',
 34: 'New Jersey',
 35: 'New Mexico',
 36: 'New York',
 37: 'North Carolina',
 38: 'North Dakota',
 39: 'Ohio',
 40: 'Oklahoma',
 41: 'Oregon',
 42: 'Pennsylvania',
 44: 'Rhode Island',
 45: 'South Carolina',
 46: 'South Dakota',
 47: 'Tennessee',
 48: 'Texas',
 49: 'Utah',
 50: 'Vermont',
 51: 'Virginia',
 53: 'Washington',
 54: 'West Virginia',
 55: 'Wisconsin',
 56: 'Wyoming'}

#### Description
First pandas library is imported, then nst-est2017-alldata.csv file is read using read_scv() function from Panda 
and finally printed after looping as table length that ranges from 1 - 56 as keys and state names as values.

### Problem 1
For each state, what day of the week has the most accidents? Use the DAY_WEEK column. Output the day and the count. 
For the values output the day name, where 1 is Sunday, 2 is Monday, ... and 7 is Saturday.

In [34]:
days={1:'Sunday',2:'Monday',3:'Tuesday',4:'Wednesday',5:'Thursday',6:'Friday', 7:'Saturday'}
df=pd.DataFrame(columns=['STATE','DAY','COUNT'])
for i in table.keys():
    df_i= pd.read_csv("C:/Users/mrahman1s/Documents/CSCI5015/Week 8/FARS/FARS/accident_{:02d}.csv".format(i))
    a= df_i['DAY_WEEK'].value_counts()
    df1= pd.DataFrame({'STATE':[table[i]],'DAY':[days[a.keys()[0]]],'COUNT':[a[a.keys()[0]]]})
    df=df.append(df1,ignore_index=True)
    #print("For state {} the day with most accidents is ".format(table[i]),days[a.keys()[0]],"with accidents count ",a[a.keys()[0]])
df

                   STATE        DAY COUNT
0                Alabama   Saturday   166
1                 Alaska     Friday    15
2                Arizona   Saturday   150
3               Arkansas     Monday    85
4             California   Saturday   614
5               Colorado     Friday    95
6            Connecticut   Thursday    50
7               Delaware   Saturday    26
8   District of Columbia   Saturday     5
9                Florida   Saturday   507
10               Georgia   Saturday   258
11                Hawaii   Saturday    25
12                 Idaho     Friday    38
13              Illinois   Saturday   202
14               Indiana     Friday   127
15                  Iowa   Saturday    65
16                Kansas   Saturday    63
17              Kentucky   Saturday   133
18             Louisiana     Sunday   128
19                 Maine   Saturday    30
20              Maryland   Saturday    96
21         Massachusetts   Saturday    61
22              Michigan   Saturday   175
23             Minnesota   Saturday    58
24           Mississippi   Saturday   118
25              Missouri   Saturday   156
26               Montana   Saturday    34
27              Nebraska     Sunday    38
28                Nevada   Saturday    56
29         New Hampshire     Friday    26
30            New Jersey   Saturday   105
31            New Mexico   Saturday    69
32              New York   Saturday   159
33        North Carolina   Saturday   219
34          North Dakota   Saturday    22
35                  Ohio   Saturday   194
36              Oklahoma   Saturday   109
37                Oregon   Saturday    76
38          Pennsylvania     Friday   186
39          Rhode Island   Thursday    14
40        South Carolina   Saturday   182
41          South Dakota   Saturday    18
42             Tennessee   Saturday   187
43                 Texas   Saturday   604
44                  Utah   Saturday    44
45               Vermont  Wednesday    11
46              Virginia   Saturday   139
47            Washington   Saturday    87
48         West Virginia  Wednesday    41
49             Wisconsin   Saturday   112
50               Wyoming   Thursday    19

#### Description
Here days are declared and initialized with keys 1 - 7 with their values. Then all the files for each state is looped 
to read the toal counts of accidents based on the keys and values and passed in DataFrame() with adjustment of proper formating style.

### Problem 2
For whole United States, i.e., all the data, what day of the week has the most accidents? Output the day and the count.

In [6]:
whole = {1:0,2:0,3:0,4:0,5:0,6:0,7:0}
for i in table.keys():
    df_i= pd.read_csv("C:/Users/mrahman1s/Documents/CSCI5015/Week 8/FARS/FARS/accident_{:02d}.csv".format(i))
    a= df_i['DAY_WEEK'].value_counts()
    for j in a.keys():
        whole[j]+=a[j]
max_key= max(whole, key=whole.get)
#print("For whole US the day with most accidents is {} with accidents {}".format(days[max_key],whole[max_key]))
df=pd.DataFrame({
    "STATE":['WHOLE US'],
    "DAY" : [days[max_key]],
    "COUNT" : [whole[max_key]]
})
df

      STATE       DAY  COUNT
0  WHOLE US  Saturday   6104

#### Description
After initialization of day as keys, values are set to 0's. Then all the files 1 - 56 as keys are looped (outer loop) to 
read the first max day values looped in the inner loop. Thus it keeps on looping and adding untill all table keys are read
and finally gotten output using DataFrame().

### Probelm 3
For each state, what hour of the day has the most accidents? Output the hour and the count. 
 * A value of 99 in the HOUR means unknown.

In [7]:
df=pd.DataFrame(columns=['STATE','HOUR','COUNT'])
for i in table.keys():
    df_i= pd.read_csv("C:/Users/mrahman1s/Documents/CSCI5015/Week 8/FARS/FARS/accident_{:02d}.csv".format(i))
    a= df_i['HOUR'].value_counts()
    df1=pd.DataFrame({'STATE':[table[i]],'HOUR':[a.keys()[0]],'COUNT':[a[a.keys()[0]]]})
    df=df.append(df1,ignore_index=True)
    #print("For state {} the hour with most accidents is ".format(table[i]),a.keys()[0],"with accidents count ",a[a.keys()[0]])
df

                   STATE HOUR COUNT
0                Alabama   16    54
1                 Alaska    5     7
2                Arizona   19    65
3               Arkansas   17    39
4             California   20   210
5               Colorado   13    38
6            Connecticut   17    22
7               Delaware   21    10
8   District of Columbia    2     4
9                Florida   21   208
10               Georgia   18    84
11                Hawaii   20    10
12                 Idaho   16    17
13              Illinois   16    64
14               Indiana   17    50
15                  Iowa   17    26
16                Kansas   16    28
17              Kentucky   16    57
18             Louisiana   17    48
19                 Maine   18    12
20              Maryland   22    32
21         Massachusetts   22    25
22              Michigan   18    59
23             Minnesota   17    28
24           Mississippi   17    41
25              Missouri   18    57
26               Montana   21    13
27              Nebraska   99    29
28                Nevada   23    22
29         New Hampshire   19    11
30            New Jersey   18    42
31            New Mexico   20    31
32              New York   17    59
33        North Carolina   18    92
34          North Dakota   16     9
35                  Ohio   19    77
36              Oklahoma   16    41
37                Oregon   20    31
38          Pennsylvania   17    64
39          Rhode Island    1     6
40        South Carolina   17    64
41          South Dakota   14    10
42             Tennessee   16    61
43                 Texas   20   200
44                  Utah   13    26
45               Vermont   16     6
46              Virginia   17    60
47            Washington   15    34
48         West Virginia   15    24
49             Wisconsin   17    45
50               Wyoming   12    11

#### Description
Table Keys are looped through to read each and every file's Hour as values. And total number of accidents are added 
sequentially and output as table after appropriate formatting in in the DataFrame() function .

### Probelm 4
For whole United States, what hour of the day has the most accidents? Output the hour and the count.

In [23]:
whole = {}
for i in range(24):
    whole[i]=0
whole[99]=0
    
for i in table.keys():
    df_i= pd.read_csv("C:/Users/mrahman1s/Documents/CSCI5015/Week 8/FARS/FARS/accident_{:02d}.csv".format(i))
    a= df_i['HOUR'].value_counts()
    for j in a.keys():
        whole[j]+=a[j]
max_key= max(whole, key=whole.get)
#print("For whole US the hour with most accidents is {} with accidents {}".format(max_key,whole[max_key]))
df=pd.DataFrame({
    "STATE":['WHOLE US'],
    "HOUR" : [max_key],
    "COUNT" : [whole[max_key]]
})
df

      STATE  HOUR  COUNT
0  WHOLE US    18   1984

#### Description
For loop is used first to iterate the value Hours. And table keys (State keys) are looped to read each files where inner loop counted the values after each iteration and sorted the most accidents using max() function.Then final result is shown in table using DataFrame() function.

### Problem 5
For each state, what is the percentage of fatal accidents involved at least one drunk driver? If the column, DRUNK_DR, has a 0, then no drunk drivers were involved. Any number larger than 0 indicates the number of drunk drivers involved in the accident.

In [10]:
df=pd.DataFrame(columns=['STATE','COUNT'])
for i in table.keys():
    df_i= pd.read_csv("C:/Users/mrahman1s/Documents/CSCI5015/Week 8/FARS/FARS/accident_{:02d}.csv".format(i))
    a= df_i['DRUNK_DR'].value_counts()
    drunk_accidents= (len(df_i)-a[0])/len(df_i)
    df1=pd.DataFrame({'STATE':[table[i]],'COUNT':[drunk_accidents*100]})
    df=df.append(df1,ignore_index=True)
    #print("The % of accidents for state {} involving drunk drivers is {:.4f}".format(table[i],drunk_accidents*100))
df

                   STATE      COUNT
0                Alabama  14.621131
1                 Alaska  44.871795
2                Arizona  23.352601
3               Arkansas  23.360656
4             California  23.443551
5               Colorado  33.691756
6            Connecticut  29.537367
7               Delaware  31.034483
8   District of Columbia  38.461538
9                Florida  21.241050
10               Georgia  21.729958
11                Hawaii  24.770642
12                 Idaho  28.448276
13              Illinois  26.420738
14               Indiana  17.708333
15                  Iowa  25.842697
16                Kansas  20.472441
17              Kentucky  24.901704
18             Louisiana  29.545455
19                 Maine  31.125828
20              Maryland  23.728814
21         Massachusetts  28.690808
22              Michigan  24.795918
23             Minnesota  27.731092
24           Mississippi  16.401274
25              Missouri  27.534562
26               Montana  47.953216
27              Nebraska  38.659794
28                Nevada  29.702970
29         New Hampshire  30.000000
30            New Jersey  21.968366
31            New Mexico  29.050279
32              New York  17.202073
33        North Carolina  28.412463
34          North Dakota  48.039216
35                  Ohio  33.523267
36              Oklahoma  27.564103
37                Oregon  26.905830
38          Pennsylvania  23.621324
39          Rhode Island  37.500000
40        South Carolina  35.470085
41          South Dakota  41.747573
42             Tennessee  22.567288
43                 Texas  24.713824
44                  Utah  19.691120
45               Vermont  47.368421
46              Virginia  29.224377
47            Washington  31.547619
48         West Virginia  27.600000
49             Wisconsin  31.985294
50               Wyoming  29.000000

#### Description
It is looped to get the total number of drunk drivers with at least one accident for each state. In addtion,fatal accidents are computed as % after considering 0 drunk driver.

### Problem 6
For whole United States, what is the percentage of fatal accidents involved at least one drunk driver?

In [18]:
whole_count=0
whole_accidents=0

for i in table.keys():
    df_i= pd.read_csv("C:/Users/mrahman1s/Documents/CSCI5015/Week 8/FARS/FARS/accident_{:02d}.csv".format(i))
    a= df_i['DRUNK_DR'].value_counts()
    whole_count+=a[0]
    whole_accidents+=len(df_i)
drunk_accidents= (whole_accidents-whole_count)/whole_accidents
print("The % of accidents for US involving drunk drivers is {:.4f}".format(drunk_accidents*100))
df=pd.DataFrame({
    "STATE":['WHOLE US'],
    "COUNT" : [drunk_accidents*100]
})
df

The % of accidents for US involving drunk drivers is 25.3201

      STATE      COUNT
0  WHOLE US  25.320131

#### Description
The each state fatal accidents are counted using for loop and keys is used which is DRUNK_DR. Then fatal accidents are calculated and finally output as percentage is shown in table using DataFrame.

### Problem 7
For whole United States, how many fatalities were caused by each type of collision? Use the MAN_COLL column. The values in the column are below.

0 Not Collision with Motor Vehicle in Transport

1 Front-to-Rear

2 Front-to-Front

6 Angle

7 Sideswipe – Same Direction

8 Sideswipe – Opposite Direction

9 Rear-to-Side

10 Rear-to-Rear

11 Other (End-Swipes and Others)

98 Not Reported

99 Unknown

In [12]:
collision={0:"Not Collision with Motor Vehicle in Transport",1:"Front-to-Rear",2:"Front-to-Front",6:"Angle",7:"Sideswipe – Same Direction",8:"Sideswipe – Opposite Direction",9:"Rear-to-Side",10:"Rear-to-Rear",11:"Other (End-Swipes and Others)",98:"Not Reported",99:"Unknown"}
collision_data={0:0,1:0,2:0,6:0,7:0,8:0,9:0,10:0,11:0,98:0,99:0}
df=pd.DataFrame(columns=['REASON','COUNT'])

for i in table.keys():
    df_i= pd.read_csv("C:/Users/mrahman1s/Documents/CSCI5015/Week 8/FARS/FARS/accident_{:02d}.csv".format(i))
    a= df_i['MAN_COLL'].value_counts()
    for j in a.keys():
        collision_data[j]+=a[j]
for i in collision_data.keys():
    df1=pd.DataFrame({'REASON':[collision[i]],'COUNT':[collision_data[i]]})
    df=df.append(df1,ignore_index=True)
    #print("The number of accidents due to {} collision is {}".format(collision[i],collision_data[i]))
df

                                           REASON  COUNT
0   Not Collision with Motor Vehicle in Transport  21296
1                                   Front-to-Rear   2350
2                                  Front-to-Front   3511
3                                           Angle   6122
4                      Sideswipe – Same Direction    519
5                  Sideswipe – Opposite Direction    421
6                                    Rear-to-Side     32
7                                    Rear-to-Rear      2
8                   Other (End-Swipes and Others)     86
9                                    Not Reported     23
10                                        Unknown     77

#### Description
The keys and values are set as mentioned. Then the keys are set to 0 so that when data are read as keys using for loop,
values are added in each iteration in the inner loop. At last for loop is again used to count the collision related 
accident and gotten output as table.

### Problem 8
For each state, what is its fatal accident rate per 10,000 people? To calculate this, count the number of accidents in a state, divide by the state's 2016 population estimate from the nst-est2017-alldata.csv Census data file, and then multiply by 10000. Output the states' rates in order from highest to lowest.

In [21]:
rate={}
df=pd.DataFrame(columns=['STATE','COUNT'])

for i in table.keys():
    df_i= pd.read_csv("C:/Users/mrahman1s/Documents/CSCI5015/Week 8/FARS/FARS/accident_{:02d}.csv".format(i))
    accidents= len(df_i)
    index=df_all.index[df_all['NAME'] == table[i]].tolist()[0]
    population= df_all['POPESTIMATE2016'][index]
    rate[i]= (accidents/population)*10000
rate_sorted=sorted(rate.items() , reverse=True, key=lambda x: x[1])
for i in rate_sorted:
    df1=pd.DataFrame({'STATE':[table[i[0]]],'COUNT':[i[1]]})
    df=df.append(df1,ignore_index=True)
    #print("The rate of fatalaccidents of state {} is {}".format(table[i[0]],i[1]))
df

                   STATE     COUNT
0            Mississippi  2.103560
1                Alabama  1.927767
2         South Carolina  1.887164
3               Kentucky  1.719974
4             New Mexico  1.716671
5                Wyoming  1.709665
6                Montana  1.646358
7               Arkansas  1.633073
8               Oklahoma  1.591347
9              Louisiana  1.502297
10             Tennessee  1.452762
11              Missouri  1.425012
12               Florida  1.419886
13                 Idaho  1.380931
14               Georgia  1.378759
15         West Virginia  1.367138
16          North Dakota  1.350014
17        North Carolina  1.327204
18                Kansas  1.310300
19               Arizona  1.252055
20                 Texas  1.220934
21              Delaware  1.217595
22          South Dakota  1.195531
23               Indiana  1.157671
24                  Iowa  1.137065
25                 Maine  1.135140
26                Oregon  1.091535
27                Alaska  1.051891
28                Nevada  1.030874
29              Nebraska  1.016983
30              Colorado  1.009022
31              Michigan  0.986566
32         New Hampshire  0.973772
33             Wisconsin  0.942331
34               Vermont  0.914408
35                  Ohio  0.905997
36              Virginia  0.858055
37            California  0.854275
38          Pennsylvania  0.850859
39                  Utah  0.850764
40              Maryland  0.783435
41           Connecticut  0.783235
42              Illinois  0.781413
43                Hawaii  0.762940
44            Washington  0.692219
45             Minnesota  0.646148
46            New Jersey  0.633742
47         Massachusetts  0.526106
48              New York  0.486482
49          Rhode Island  0.453872
50  District of Columbia  0.379930

#### Description
Rate is declared with null or empty value, then data for each state is read using for loop and number of accidents are counted for each state. Rate calculation is done and sorted and for loop is used to iterate for each state's fatal accident rate.

### Problem 9
For each state, what is the rate of fatal accidents caused by drunk driving per 10,000 people? To calculate this, count the 
number of accidents in which a drunk driver was involved, divide by the state's 2016 population estimate from the 
nst-est2017-alldata.csv Census data file, and then multiply by 10000. Output the states' rates in order from highest to 
lowest.

In [22]:
rate={}
df=pd.DataFrame(columns=['STATE','COUNT'])

    
for i in table.keys():
    df_i= pd.read_csv("C:/Users/mrahman1s/Documents/CSCI5015/Week 8/FARS/FARS/accident_{:02d}.csv".format(i))
    accidents= len(df_i)
    a= df_i['DRUNK_DR'].value_counts()
    drunk_accidents= accidents-a[0]
    index=df_all.index[df_all['NAME'] == table[i]].tolist()[0]
    population= df_all['POPESTIMATE2016'][index]
    rate[i]= (drunk_accidents/population)*10000
rate_sorted=sorted(rate.items() , reverse=True, key=lambda x: x[1])
for i in rate_sorted:
    df1=pd.DataFrame({'STATE':[table[i[0]]],'COUNT':[i[1]]})
    df=df.append(df1,ignore_index=True)
    #print("The rate of fatalaccidents of state {} is {}".format(table[i[0]],i[1]))
df

                   STATE     COUNT
0                Montana  0.789482
1         South Carolina  0.669379
2           North Dakota  0.648536
3           South Dakota  0.499105
4             New Mexico  0.498698
5                Wyoming  0.495803
6                 Alaska  0.472002
7              Louisiana  0.443861
8               Oklahoma  0.438640
9                Vermont  0.433141
10              Kentucky  0.428303
11              Nebraska  0.393164
12                 Idaho  0.392851
13              Missouri  0.392371
14              Arkansas  0.381497
15              Delaware  0.377874
16         West Virginia  0.377330
17        North Carolina  0.377091
18                 Maine  0.353322
19           Mississippi  0.345011
20              Colorado  0.339957
21             Tennessee  0.327849
22                Nevada  0.306200
23                  Ohio  0.303720
24                 Texas  0.301740
25               Florida  0.301599
26             Wisconsin  0.301407
27               Georgia  0.299604
28                  Iowa  0.293848
29                Oregon  0.293687
30               Arizona  0.292387
31         New Hampshire  0.292132
32               Alabama  0.281861
33                Kansas  0.268250
34              Virginia  0.250761
35              Michigan  0.244628
36           Connecticut  0.231347
37            Washington  0.218379
38              Illinois  0.206455
39               Indiana  0.205004
40          Pennsylvania  0.200984
41            California  0.200272
42                Hawaii  0.188985
43              Maryland  0.185900
44             Minnesota  0.179184
45          Rhode Island  0.170202
46                  Utah  0.167525
47         Massachusetts  0.150944
48  District of Columbia  0.146127
49            New Jersey  0.139223
50              New York  0.083685

#### Description
Rate is declared with null or empty value, then data for each state is read using for loop and number of accidents 
involving value DRUNK_DR are counted for each state. Rate calculation is done and sorted and for loop is used to iterate 
the each state's fatal accident rate.